mixin leafScore(score, mainScoreName, contentPayload)
    - var leafName = score.name
    - var index = 'score:'.concat(scoreDefName, '/', leafName)
    - var indexPayload = 'score:'.concat(scoreDefName, '/', leafName, '/payload')
    - var divName = 'score__'.concat(scoreDefName, '__', leafName)
    if score.hasDoc
        .col-12.line.canSelect(name=divName)
            .col-3.scorevalue(class=contentPayload[index][1])= contentPayload[index][0]
            .col-4.leaf= leafName
            .col-5.payload.tooltip= contentPayload[indexPayload]
                span.tooltiptext= score.description
    else
        .col-12.line(name=divName)
            .col-3.scorevalue(class=contentPayload[index][1])= contentPayload[index][0]
            .col-4.leaf= leafName
            .col-5.payload.tooltip
                p= contentPayload[indexPayload]
                span.tooltiptext= score.description